/* NOTE:
 * Grid layout stuff starts at line 138. 
 * The stuff before is just boring old CSS to make content look not crappy.
 */

/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}



/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.app {
    background: #ededed;
    min-height: 100vh;
}

.head,
.main-content,
.sidebar,
.footer {
    padding: 1em 2em;
}

.main-content {
    background: white;
}
.head {
    background: #2185C5;
    color: white;
}

.sidebar {
    
}


/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {

    .app {
        display: grid;
        grid-template-columns: 1fr repeat(6, minmax(auto, 10em));
        grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
    }

    .head {
        grid-column: span 8;
    }

    .main-content {
        grid-column: 2/6;
    }

    .sidebar {
        grid-column: 6/8;
    }

}
